body {
    font-family: 'Roboto', sans-serif, serif;
    background-image: url(../images/bg-repeat.jpg);  
    background-size: contain;
    max-width: 100vw;
    min-height: 100vh;   
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    padding: 0 50px;
}

.informacao {
  width: 300px;
  display: flex;
  flex-direction: column; 
}

.informacao .titulo {
    font-size: 20px;
    font-weight: 900;
    line-height: 23.44px;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.informacao .paragrafo {
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    color: #FFFFFF;
}

.formulario {
    background-color: #FFFFFF;
    width: 340px;
    padding: 21px 20px;
    display: flex;
    flex-direction: column;
}

.formulario .item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.formulario input::placeholder,
.formulario .texto-msg::placeholder {
    color: #A8A8A8;
    font-size: 15px;
    font-weight: 700;
}

.formulario .nome,
.formulario .email,
.formulario .tel {
    height: 35px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 15px;
}


.formulario .texto-msg {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    height: 100px;
    resize: none;
} 

.formulario p {
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 20px;
}

.formulario .label {
    display: none;
}

.formulario .validado {
    border: 1px solid #00C22B;
}


.formulario .item .nao-validado {
    border: 1px solid #F52E2E;
}

.formulario .campo-obrigatorio{
    display: block;
    color: #F52E2E;
    font-size: 8px;
    font-weight: 400;
    position: absolute;
    top: 70%;
    left: 0;    
}

.formulario .item .texto-nao-validado {
    border: 1px solid #F52E2E;
    margin-bottom: 10px;
}

.formulario .campo-obrigatorio-texto{
    display: block;
    color: #F52E2E;
    font-size: 8px;
    font-weight: 400;
    position: absolute;    
    top: 90%;
    left: 0;    
}

.formulario .btn-enviar {
    height: 41px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    background-color: #3CCC87;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column;
      width: 90%;
      padding: 0;
    }
  }

@media (max-width: 425px) {
    .formulario {
        width: 90%;
    }
    .informacao {
        width: 90%;
        text-align: center;
      }
}